
body {
    font-family: "Arial", sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Main Content */
main {
    padding: 3rem;
}

.index-title {
    text-align: center;
}

/* Information Section */
.info-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    background-color: #4a90e2;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.profile-photo {
    max-width: 400px;
    margin-right: 2rem;
}

.info-text {
    max-width: 600px;
    color: rgb(233, 233, 233);
}

/* LinkedIn Link */
.linkedin-link {
    display: inline-block;
    margin-top: 1rem;
    color: #0073b1;
    font-size: 1rem;
    text-decoration: none;
}

.linkedin-link i {
    margin-right: 0.5rem;
}

.linkedin-link:hover {
    text-decoration: underline;
    color: white;
}

.linkedin {
    color: rgb(0, 0, 0);
    align-content: center;
}


.linkedin:hover {
    color: rgb(255, 255, 255);
}