
a {
    text-decoration: none;
    color: #0073e6;
}

a:hover {
    color: #005bb5;
}

main {
    padding: 3rem;
}

.Education-title, .Honors-title, .Projects-title, .Experience-title, .tools-title {
    text-align: center;
}
.resume-section-title {
    text-align: center;
    margin-bottom: 2rem;
}

.resume-section, .tools-section, .experience-section, .projects-section {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info{
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.resume-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume-section-title {
    margin-bottom: 20px;  
}

.resume-file {
    display: inline-flex;
    align-items: center;
    background-color: #4a90e2;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.resume-file i {
    margin-right: 8px;
}

.resume-file:hover {
    background-color: #357ABD;
    color: #fff;
}
